/* index */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@100&display=swap');

/* selector universal */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

/* INDEX */

/* Estilos del Header */

header{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: aliceblue;
    border-style: double;
    border-color: hsl(245, 73%, 41%);
    text-align: center;
    background:url(../multimedia/fondoimagen.jpg) no-repeat;
    background-size: cover;
    background-position: top;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.conteiner{
    display: grid;
}

ul{
    font-family: Arial, Helvetica, sans-serif;
    list-style-image: url(../multimedia/madre-teresa.png);
    margin: 0;
    padding-left: 30px;
    display: flex;
    flex-direction: row;  
    justify-content: space-between;
    align-items: center;
    border-style: double;
    border-color: #2d07ac;
    flex-wrap: wrap;
}

li{
    float: left;
}

li a{
    color: rgb(20, 6, 55);
    text-align: center;  
    text-decoration: none;    
}

/*cambiar de color al pasar el mouse */

li a:hover {
    background-color: rgb(225, 241, 244);
}

li:last-child {
    border-right: hsl(180, 55%, 56%);
}

/*ESTILOS DEL MAIN */    

main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    content: normal;
    border: 10px;
    border-style: ridge;
    border-color: #149ead;
    padding: 20px;
    margin: 0px;
    background-size: cover;
    background-position: left;
}

h1{
    font-family: 'Open Sans', sans-serif;
    color: black;
}

h2{
    font-family: 'Open Sans', sans-serif;
    color: black;
    text-align: center;
}

h3{
    font-family: 'Open Sans', sans-serif;
    color: black;
    background-color: white;
    text-align: center;
    text-decoration: double;
}

body{
    background-color: white;
}

.QuienesSomos{
    width: 600px;
    height: 350px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: no-wrap;
    border-style: double;
    border-color: blue;
    text-align: justify;
    font-style: italic;
    justify-content: center;
    margin: 50px;
}

.conoc{
    height: 100px;
    width: 100%;
    color: hwb(184 5% 37%); 
    font-size: 18px;
    text-align: justify;
    font-weight: bold;
    padding: 10px;
} 

.portada{
    border-style: double;
    border-color: #2d07ac;
}

.NuestrosCoordinadores{
    width: 600px;
    height: 350px;
    padding: 10px;
    border-style: double;
    border-color: blue;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin: 50px;
}

p{
    color: hwb(180 0% 99%);
    font-family: 'Open Sans', sans-serif;
    font-style: bold;
}

/* TABLA */

table{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    text-align: center;
    line-height: 20px;
    word-spacing: 5px;
}

/* Ubicacion */

.ubicacion{
    text-align: center;
    height: 400px;
    width: 400px;
    margin: 10px;
    padding: 10px;
    border-style: double;
    border-color: blue;
    display: flex;
    flex-wrap: wrap;
}

/* Inicio de footer */
footer{
    min-height: 80px;
    width: 100%;
    background-color: rgba(127, 197, 255, 0.336);
    text-align: center;
    font-size: 20px;
    padding: 20px;
    background-size: 50%;
}

footer p{
    margin-bottom: 20px;
}

footer i{
    font-size: 50px;
    color: blue;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 20px;
    background-size: 100px 85px;
}

.subir{
    height: 50px;
    width: 50px;
    background-color: rgb(62, 215, 241);
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 25px;
    border-radius: 85px;
    border: 5px solid #fff;
    color: rgb(27, 21, 220);
    box-shadow: 0 0 10px rgb(6, 173, 157);
}
/* Fin de Footer */

/* NOSOTROS */

.oracion{
    border-style: ridge;
    border-color: rgb(0, 0, 0);
    text-align: justify;
    padding: 10px;
    width: 100%;
    height: 150px;
    border: 5px solid rgba(51, 148, 153, 0.678);
    background-color: rgb(97, 220, 210);
    display: flex;
    flex-wrap: wrap;
}

.nosotros{
    width: 100%;
    min-height: 400px;
    background-color: #1939f1;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 200px 200px 200px;
    grid-template-areas: "img1 img2 img3 img3"
                        " img1 img4 img5 img6"
                        " img7 img4 img8 img8"  
    ;
    grid-gap: 10px;
}

.item{
    border-style: ridge;
    border-color: #2b63b8;
    border-radius: 10px;
    filter: grayscale(100%);
}


.item:hover{
    transform: scale(1.10);
    transition: all 0.7s;
    filter: grayscale(0%);
}

.item1{
    grid-area: img1;
    background-color: #2d07ac;
    background-image: url(../multimedia/barrios.jpg);
    background-size: cover;
    background-position: center;
}

.item2{
    grid-area: img2;
    background-color: #dada19;
    background-image: url(../multimedia/barrios2.jpg);
    background-size: cover;
    background-position: center;
}

.item3{
    grid-area: img3;
    background-color: #cf5310;
    background-image: url(../multimedia/chocolatada.jpg);
    background-size: cover;
    background-position: center;
}

.item4{
    grid-area: img4;
    background-color: #ea1b1b;
    background-image: url(../multimedia/chocolatada2.jpg);
    background-size: cover;
    background-position: top;
}

.item5{
    grid-area: img5;
    background-color: #1ed6c7;
    background-image: url(../multimedia/chu.jpg);
    background-size: cover;
    background-position: top;
}

.item6{
    grid-area: img6;
    background-color: #8a0c8e;
    background-image: url(../multimedia/chu2.jpg);
    background-size: cover;
    background-position: bottom;
}

.item7{
    grid-area: img7;
    background-color: #e68721;
    background-image: url(../multimedia/juegos2.jpg);
    background-size: cover;
    background-position: center;
}

.item8{
    grid-area: img8;
    background-color: #020007;
    background-image: url(../multimedia/fondoimagen.jpg);
    background-size: cover;
    background-position: top;
}

@media only screen and (min-width:360px){
    .nosotros{
        background-color: rgb(80, 238, 196);
    }   
}

@media only screen and (min-width:480px){
    .nosotros{
        background-color: rgb(25, 184, 28);
    }   
}

@media only screen and (min-width:600px){
    .nosotros{
        background-color: rgb(201, 10, 201);
    }   
}

@media only screen and (min-width:768px){
    .nosotros{
        background-color: rgb(194, 9, 9);
    }   
}


/* CONTACTO */

.formulario{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px;
    border-style: ridge;
    border-color: #149ead;
}

form{
    border:5px solid #2d07ac;
    border-style: double;
    width:450px;
    margin:auto;
}

label{
    font-family: 'Open Sans', sans-serif;
    width:220px;
    float:left;
    text-align:left;
}

input{
    font-family: 'Open Sans', sans-serif;
    padding:3px;
    color:#000107;
    background-color:#8cdce2;
    border:1px solid #000000;
}

.convocatoria{
    width: 450px;
    height: 50px;
    border-style: double;
}

/* NOTICIAS */

/* .noticias{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
} */

/* COLABORA CON NOSOTROS */

.insumos{
    text-align: center;
    width: 100%;
    height: 800px;
    border: 10px;
    border-style:ridge;
    border-color: #149ead;
    padding: 50px;
}