/* index */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@100&display=swap");

/* selector universal */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* INDEX */

/* Estilos del Header */


/*ESTILOS DEL MAIN */

article {
    background-color: rgba(184, 240, 237, 0.826);
    border: 2px solid #333;

    img {
        display: flex;
        background-size: conver;
        height: 400px;
        width: 100%;
    }
}

.cajas {
    background-color: rgb(184, 240, 237, 0.826);
    border: 2px solid #333;
    height: 400px;
    width: 100%;
}

h1 {
    font-family: "Open Sans", sans-serif;
    color: black;
    text-align: center;
}

h2 {
    font-family: "Open Sans", sans-serif;
    color: black;
    text-align: center;
}

.rounded {
    background-position: center;
}

h3 {
    font-family: "Open Sans", sans-serif;
    color: black;
    background-color: white;
    text-align: center;
    text-decoration: double;
}

body {
    margin: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.conoc {
    height: 100px;
    width: 100%;
    color: hwb(184 5% 37%);
    font-size: 18px;
    text-align: justify;
    font-weight: bold;
    padding: 10px;
}

.portada {
    border-style: double;
    border-color: #2d07ac;
    display: flex;
    background-size: cover;
    background-position: top;
}

.table {
    background-image: linear-gradient(rgb(121, 121, 240), aqua);
}

p {
    color: hwb(180 0% 99%);
    font-family: "Open Sans", sans-serif;
    font-style: bold;
}

/* TABLA DE INDEX */

table {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    text-align: center;
    line-height: 20px;
    word-spacing: 5px;
}

/* Ubicacion */

.ubicacion {
    text-align: center;
    height: 400px;
    width: 400px;
    margin: 5px;
    padding: 5px;
    border-style: double;
    border-color: blue;
    display: flex;
    flex-wrap: wrap;
    background-size: cover;
}

/* Inicio de footer */
footer {
    background-color: rgba(63, 160, 240, 0.336);
    padding: 1em 0;
    text-align: center;
    margin-top: auto;
    width: 100%;

    p {
        margin-bottom: 20px;
    }

    i {
        font-size: 50px;
        color: blue;
        font-family: "Open Sans", sans-serif;
        letter-spacing: 20px;
        background-size: 100px 85px;
    }
}

.subir {
    height: 55px;
    width: 55px;
    background-color: rgb(62, 215, 241);
    position: fixed;
    bottom: 20px;
    right: 25px;
    text-align: center;
    line-height: 20px;
    font-size: 25px;
    border-radius: 100%;
    border: 5px solid #fff;
    color: rgb(27, 21, 220);
    box-shadow: 0 0 10px rgb(6, 173, 157);
}

/* Fin de Footer */

/* NOSOTROS */

.oracion {
    border-style: ridge;
    border-color: rgb(0, 0, 0);
    text-align: justify;
    padding: 10px;
    width: 100%;
    border: 5px solid rgba(51, 148, 153, 0.678);
    background-color: rgb(97, 220, 210);
    display: flex;
    flex-wrap: wrap;
}

.nosotros {
    width: 100%;
    min-height: 400px;
    background-color: #1939f1;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 200px 200px 200px;
    grid-template-areas:
        "img1 img2 img3 img3"
        " img1 img4 img5 img6"
        " img7 img4 img8 img8";
    grid-gap: 10px;
}

.item {
    border-style: ridge;
    border-color: #2b63b8;
    border-radius: 10px;
    filter: grayscale(100%);
}

.item:hover {
    transform: scale(1.1);
    transition: all 0.7s;
    filter: grayscale(0%);
}

.item1 {
    grid-area: img1;
    background-color: #2d07ac;
    background-image: url(../multimedia/barrios.jpg);
    background-size: cover;
    background-position: center;
}

.item2 {
    grid-area: img2;
    background-color: #dada19;
    background-image: url(../multimedia/barrios2.jpg);
    background-size: cover;
    background-position: center;
}

.item3 {
    grid-area: img3;
    background-color: #cf5310;
    background-image: url(../multimedia/chocolatada.jpg);
    background-size: cover;
    background-position: center;
}

.item4 {
    grid-area: img4;
    background-color: #250a74;
    background-image: url(../multimedia/chocolatada2.jpg);
    background-size: cover;
    background-position: top;
}

.item5 {
    grid-area: img5;
    background-color: #1ed6c7;
    background-image: url(../multimedia/chu.jpg);
    background-size: cover;
    background-position: top;
}

.item6 {
    grid-area: img6;
    background-color: #8a0c8e;
    background-image: url(../multimedia/chu2.jpg);
    background-size: cover;
    background-position: bottom;
}

.item7 {
    grid-area: img7;
    background-color: #e68721;
    background-image: url(../multimedia/juegos2.jpg);
    background-size: cover;
    background-position: center;
}

.item8 {
    grid-area: img8;
    background-color: #020007;
    background-image: url(../multimedia/fondoimagen.jpg);
    background-size: cover;
    background-position: top;
}

@media only screen and (min-width: 360px) {
    .nosotros {
        background-color: rgb(80, 238, 196);
    }
}

@media only screen and (min-width: 480px) {
    .nosotros {
        background-color: rgba(27, 207, 220, 0.683);
    }
}

@media only screen and (min-width: 600px) {
    .nosotros {
        background-color: rgb(32, 65, 229);
    }
}

@media only screen and (min-width: 768px) {
    .nosotros {
        background-color: rgb(40, 7, 112);
    }
}

/* FORMULARIO PAGINA DE CONTACTO */

.form{
    background-image: url(../multimedia/barrios2.jpg);
    background-size: 100vw 100vh; 
    background-attachment: fixed;
    margin: 0%;
}

.formulario {
    border-style: ridge;
    border-color: #084248;
}

form {
    width: 450px;
    margin: auto;
    background: rgba(115, 227, 237, 0.8);
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 7px;
    font-size: 17px;
    border: 5px solid #2d07ac;
    border-style: double;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

label {
    font-family: "Open Sans", sans-serif;
    float: left;
}

input {
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    color: #000107;
    background-color: #8cdce2;
    border: 1px solid #000000;
}

@media (max-width:480px){
    form{
        width: 100%;
    }
}

.convocatoria {
    background-size: 100vw 100vh;
    margin: 25px;
    text-align: center;
    text-decoration: solid;
}

/* NOTICIAS */



/* COLABORA CON NOSOTROS */

.insumos {
    text-align: center;
    width: 100%;
    height: 800px;
    border: 10px;
    border-style: ridge;
    border-color: #149ead;
    padding: 50px;
}

.img5 {
    width: 100%;
    height: 350px;
}